@{
    ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-12">
		<h2>Login Result</h2>
		@Html.Raw(ViewBag.LoginResult)
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Login Result</h2>
		@ViewBag.Cookies
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>CSV</h2>
		@ViewBag.Csv
	</div>	
</div>
